* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: antiquewhite;
}

.registration {
    background-color: aquamarine;
}

.logo {
    height: 100px;
    padding: 5px;
    background-color: white;
    border-top: rgb(17, 17, 17) 5px solid;
    border-left: rgb(17, 17, 17) 5px solid;
    border-right: peru 5px solid;
    border-bottom: peru 5px solid;
}
