* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #dabeca;
    color: #223843;
}

#welcome {
    background-color: #f8ecf4;
}

.registration {
    border: #d77a61 5px solid;
    /* border-bottom: #d8b4a0 5px solid;
    border-right: #d8b4a0 5px solid; */

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

input {
    opacity: 100%;
    padding: 5px;
    margin: 5px;
    background-color: #effef3;
    border: #d77a61 2px solid;
    border-bottom: #d8b4a0 2px solid;
    border-right: #d8b4a0 2px solid;
}

button {
    border: #d77a61 5px solid;
    border-bottom: #d8b4a0 5px solid;
    border-right: #d8b4a0 5px solid;
    border-radius: 10px;
    background-color: #f8ecf4;
    padding: 5px;
    margin: 5px;
}

.logo {
    height: 100px;
    padding: 5px;
    background-color: white;
    border-top: rgba(205, 133, 63, 1) 5px solid;
    border-left: rgba(205, 133, 63, 1) 5px solid;
    border-right: rgba(205, 133, 63, 0.5) 5px solid;
    border-bottom: rgba(205, 133, 63, 0.5) 5px solid;
}
